.trend {
  position: relative;
}
.trendingCard {
  position: relative;
  height: 100vh;
  color: #fff;
}
.trendingCard .content {
  margin: 60px;
  top: 30%;
}
.cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -2;
}
.trendingCard img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 88;
  background-image: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.2)
  );
}

.trendingCard h1 {
  margin-top: 50px;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 800;
  background-image: url("../../pic/texure.5fd81b0ea718d21dec89.jpg");
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
}
.trendingCard .details {
  margin-top: 200px;
}
.trendingCard .buttenrow {
  margin-top: 200px;
}
@media screen and (max-width: 676px) {
  .trendingCard .content {
    margin: 20px;
  }
  .trendingCard h1 {
    font-size: 40px;
    margin: 10px;
  }
  .trendingCard .details {
    margin-top: 50px;
  }
}
